DirectoryIndex index.php
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /booking/
RewriteRule ^(hotell-overnatting|leiebolig|legetime|tannlege|skjonnhetssalong|spa-massasje|trening-kurs|utstyrutleie)/?$ vertical.php?slug=$1 [L,QSA]
ErrorDocument 404 /booking/404.php
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^$ index.php [L]
RewriteRule . 404.php [L]
</IfModule>